* {
  font-family: "Open Sans",sans-serif;
  margin: 0;
  padding: 0;
}

/*Header started here*/

header{
  background-color: #FFF8F3;
  background-image: url(images/developer.png), url(images/header_bg.png);
  background-repeat: no-repeat;
  background-position: 23px center, right bottom;
}


.dark-01 {
  color: #181818;
}
.dark-02 {
  color: #474747;
}
.dark-03 {
  color:#757575
}

.orange-01{
  color: #FD6E0A;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 230px 0px 226px;
  padding-top: 51px;
}

nav ul{
  display: flex;
  gap: 51px;
  align-items: center;
}

.nav-name {
  font-size: 45px;
  font-weight: 800;
}

nav li {
  list-style: none;
  font-size: 20px;
}
nav a {
  text-decoration: none;
  font-size: 20px;
}

.btn-primary {
  color: white;
  padding: 18px 36px;
  background-color: #FD6E0A;
  border: none;
  font-size: 20px;
  border-radius: 4px;
  font-weight: 700;
}
.btn-secondary {
  color:#FD6E0A;
  padding: 18px 36px;
  background-color: white;
  border-color: #FD6E0A;
  font-size: 20px;
  border-radius: 4px;
  font-weight: 700;
}

/* Banner section started here*/

.banner-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-info{
  max-width: 585px;
  margin: 71px 110px 0px 230px;
}


.banner-greets {
  font-size: 45px;
  font-weight: 600;
}

.banner-name{
  font-size: 85px;
  margin-bottom: 10px;
  font-weight: 700;
}

.banner-desc{
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
}

.btn-download{
  margin-right: 30px;
  font-size: 20px;
  font-weight: 700;
  padding: 19px 17px 18px 21px;
}

.btn-contact {
  border: 1px solid;
  font-size: 20px;
  font-weight: 700;
  padding: 19px 23px 18px 21px;
}

.banner-section img{
  margin-right: 38px;
  margin-top: 47px;
}

.banner-section button{
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

button svg{
  width: 24px;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
}
